*
{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

.main-head
{
    width:100%;
    /* border:2px solid red; */
    /* background-color:black; */
    display:flex;
    /* color:aliceblue */
    align-items: center;
    justify-content: space-between;

}
.hr-comn
{
    display: inline-block;
    justify-content: space-around;
    margin:0.7rem;
}

.container
{
    width:100%;
    height:auto;
    background: rgba(92,88,88,0.6);
}

.slider-container
{
     max-width:800px;
     height:auto;
     margin:auto;
     position:relative;
     display:flex;
     justify-content: center;
     align-items: center;
}

img
{
     width:100%;
     vertical-align: middle;    /* now image will be fit to screen*/
}

.prev-button,
.next-button
{
    width:40px;
    height:60px;
    font-size:30px;
    font-weight:bold;
    color:rgba(240,240,255,0.7);
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    position: absolute;
    transition:color 0.3s ease;
}

.prev-button
{
    left:0;
}

.next-button
{
    right:0;
}

.prev-button:hover,
.next-button:hover
{
    color:white;
}

.lines 
{
    position: absolute;
    display:flex;
    bottom: 10px;
}

/* ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
linear - specifies a transition effect with the same speed from start to end
ease-in - specifies a transition effect with a slow start
ease-out - specifies a transition effect with a slow end
ease-in-out - specifies a transition effect with a slow start and end */
.line
{
    padding:1.5px 10px;
    margin:0 3px;
    background-color:rgba(240,240,255,0.7);
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.line:hover
{
    background-color:white;
}

.slider
{
    display:none; 
}
/* 2:05 */
