*
{
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

.main-head
{
    width:100%;
    /* border:2px solid red; */
    /* background-color:black; */
    display:flex;
    /* color:aliceblue */
    align-items: center;
    justify-content: space-between;

}
.hr-comn
{
    display: inline-block;
    justify-content: space-around;
    margin:0.7rem;
}
